
.test{
  background-color: white;
}

.test2{
  background-color: yellow;
}

p{
  font-size: 16px;
}

.Banner{
  border: solid black 3px;
  padding: 20px;
  text-align: center;
}
.sideselect{
  border: solid black 3px;
  height: inherit;
}
.MainGame{
    border: solid black 3px;
}
.LeaderBoard{
  border: solid black 3px;
}

.PageEndFoot{
  border: solid black 3px;
  font-family: cursive;
  /* position:  */
}
